body {
  background: #C7D0D1 ;
  font-family: Arial;
  margin: 0;
}

.header {
  align-items: center;
  background: #C7D0D1;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.header-img_github {
  margin-top: 15px;
  margin-left: 20px;
  width: 80px;
}

.header-title {
  color: #FF8370;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: 600;
}

.tagline {
  color: blue;
}

.header-img_git {
  margin-top: 15px;
  margin-right: 20px;
  width: 80px;
}

.container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0,1);
  border: 3px solid black;
  border-radius: 10%;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px;
  padding: 1em;
  width: 50%;
}

.container-h1 {
  align-items: center;
  font-size: 30px;
}
